.logo {
  display: flex;
  height: 50px;
  padding: 10px;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  img {
    margin: 0 auto;
  }

  h2 {
    font-size: 20px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: nowrap;
    margin-right: 10px;
  }
}
