html.dark {
	--yz-background-color: #141414;
	--yz-font-color: #a3a6ad;
	--yz-border-color: #414243;
	--yz-login-font-color: #e5eaf3;
	--yz-login-bg-color: #141414b2;
	--yz-svg-color: rgb(255 255 255 / 85%);
	--yz-font-color-2: #a3a6ad;
	--yz-border-color-dark: #414243;
	.opacity-bg {
		opacity: 0.8;
	}
}
