.icon-stage {
	.icon-box {
		position: relative;
		padding: 10px;
		overflow: hidden;
		text-align: center;
		cursor: pointer;
		border: 1px solid transparent;
		border-radius: 8px;
		&:hover {
			box-sizing: border-box;
			border: 1px solid #e5e5e5;
			& > svg {
				transition: transform 0.3s ease-in-out;
				transform: scale(1.2);
			}
			& > .copy-icon {
				display: block;
			}
		}
	}
	.icon-name {
		font-size: 18px;
		color: var(--yz-font-color);
	}
	.copy-icon {
		position: absolute;
		top: 10px;
		right: 10px;
		display: none;
		font-size: 22px;
		color: #adadad;
	}
}
